@model Transaction

<h1>Welcome @ViewBag.User.FirstName</h1>
<div class="row justify-content-around">
    <div class="card col-5 mx-auto">
    <p>Balance: @ViewBag.Balance</p>
    </div>
    <div asp-validation-summary="All"></div>

    <form class="card col-3 mx-auto" asp-action="Process" asp-controller="Bank" method="post">
        <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
        <div class="form-group">
            <label  asp-for="Ammount"></label>
            <input type="number" class="form-control" asp-for="Ammount">
        </div>
        <input type="submit" value="SUBMIT" class="btn btn-danger">
    </form>
</div>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in ViewBag.User.MyTransactions)
        {
            <tr>
                <td>@t.Ammount</td>
                <td>@t.CreatedAt.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>

