<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dojo Survey Results</h1>
    <p>Name: @ViewBag.Name</p>
    <p>Dojo Location: @ViewBag.Location</p>
    <p>Favorite Language: @ViewBag.Language</p>
    @if(ViewBag.Comments != null)
    {
        <p>Comments: @ViewBag.Comments</p>
    }
    else
    {
        <p>@ViewBag.Name has no comments</p>
    }
</body>
</html>